body {
	font-family: Arial, helvetica, sans-serif;
	width: 960px;
	height: 600px;
	padding: 10px;
	display: table;
	margin: auto;
}
h1 {
	text-align: center;
}
div {
	outline: 1px solid #aaa;
}
a:link {
	text-decoration: none;
	color: blue;
}
a:visited {
	color: blue;
}
a:hover {
	text-decoration: underline;
}
a:active {
	color: blue;
}
#main-content {
	float: left;
	width: 100%;
}
.button-holder {
	width: 170px;
	float: left;
	margin-left: 3px;
}
.button {
	width: 60px;
	padding: 8px;
	margin: 4px;
	float: left;
	text-align: center;
}
.image-holder {
	width: 617px;
	height: 345px;
	float: left;
	position: relative;
	top: 0;
	left: 2px;
}
.about-holder {
	width: 160px;
	padding: 4px;
	float: left;
}
.about-head {
	font-weight: bold;
	font-size: 18px;
}
.about-text {
	margin-top: -12px;
	margin-bottom: 10px;
	font-size:13px;
}
